.mail-header {
    display: flex;
    justify-content: space-between;
    border: none;
    font-family: "Google Sans Text",Roboto,Helvetica,Arial,sans-serif;
    padding: 8px;
    background: var(--mail-idx-bg-clr);
}

.mail-header nav a {
    margin: .5em;
}