.mail-preview{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr minmax(70px, 1fr);

    width: 100%;
    background-color: var(--mail-bg-color);
    border: solid 0.1px var(--mail-border-clr);

    padding: 10px 10px;

    cursor: pointer;

    &:hover{
        box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.12);
        border-color: #dcdcdc ;
    }
}

.sender-section{
    grid-column: 1;
}

.mail-subject{
    grid-column: 2;
}

.date-section{
    grid-column: 3;
    justify-self: end;
}

.read-mail{
    background: var(--open-mail-bg-clr);
}