.mail-preview{
    display: flex;
    /* justify-content: space-between; */

    width: 100%;
    background-color: var(--open-mail-bg-color);
    border: solid 0.1px var(--mail-border-clr);

    padding: 10px 0px;

    cursor: pointer;

    &:hover{
        box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.12);
        border-color: #dcdcdc ;
    }
}

.sender-section{
    flex-basis: 168px;
    max-width: 168px;
}

.date-section{
    justify-self: end;
}