
/* Pages */
@import './apps/mail/pages/MailIndex.css';
@import './apps/mail/pages/MailDetails.css';

/* Cmps */
@import './apps/mail/cmps/MailList.css';
@import './apps/mail/cmps/MailPreview.css';
@import './apps/mail/cmps/MailHeader.css';
@import './apps/mail/cmps/RightSideBar.css';
