/* Setup */

@import './setup/variables.css';
/* @import './setup/fonts.css'; */

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
/* @import './basics/layout.css'; */

/* Pages */
@import './pages/home.css';
@import './pages/NoteIndex.css';

/* Cmps */

@import './cmps/UserMsg.css';
@import './cmps/AppHeader.css';

/* Notes */
@import './cmps/NoteList.css';
@import './cmps/NoteDisplay.css';
@import './cmps/NewNote.css';
@import './cmps/footer.css';
@import './cmps/ColorModal.css';
@import './cmps/ShareModal.css';
@import './cmps/EditModal.css';
@import './cmps/NoteFilter.css';

/* Mail */
@import 'mail-main.css';