.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    background-color: lightcyan;
    border-bottom: 2px solid white;
}

.app-header nav a {
    margin: .5em;
}

.app-header nav a:active {
    color: purple;
}

.app-header nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}