.new-note {
    grid-row: 1;
    grid-column: 2;
    background-color: yellow;
}

.new-note input[type='text'] {
    width: 80%;
    height: 1em;
    transition: height 0.3s ease;
}

.new-note input[type='text']:focus {
    height: 3em;
}

.fake-new-note {
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    margin: 1em;
    justify-self: center;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.fake-text {
    cursor: text;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}
.fake-icons {
    display: flex;
    gap: 0.5em;
}

.fake-icons i {
    position: relative;
    padding: 0.5em;
    cursor: pointer;
}

.modal {
    color: grey;
    border-radius: 5px;
    width: 80%;

    justify-content: space-between;
    padding: 0.5em;
    margin: 1em;
    justify-self: center;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.new-note-form {
    display: flex;
    flex-direction: column; /* stack children vertically */
    gap: 0.5rem; /* space between title and text */
}

.new-note-form input,
.new-note-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    margin: 0;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.note-title-input {
    font-weight: bold; 
}

.note-title-input::placeholder {
    font-weight: bold;
    font-size: 1.3em;
}
