.note {
    break-inside: avoid;
    margin-bottom: 16px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
}

.note-card > :not(.note-img) {
    padding: 12px;
}

.note-img,
img {
    border-radius: 6px;
}

.note-img,
.note-img img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.note:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}

.pin {
    z-index: 2;
    transition: transform 0.2s ease;
}

.btn-pin {
    margin: 1em;
    all: unset;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-pin::before {
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(128, 128, 128);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 0;
}

.btn-pin i {
    position: relative;
    z-index: 1;
}

.btn-pin:hover::before {
    opacity: 0.3;
}

.unpinned .btn-pin i {
    transform: rotate(180deg);
    opacity: 0.3;
}
