.note-list {
    grid-column: 2;
    grid-row: 2;
    background-color: white;
    padding: 20px;

    column-count: 4;
    column-gap: 16px;
    transition: all 0.3s ease;
}

.placeholder {
    grid-column: 1;
    grid-row: 1 / -1;
}
.note-index {
    background-color: white;
    display: grid;
    grid-template-columns: 5em 3fr;
    grid-template-rows: auto auto;
    border: 2px solid black;
}

@media (max-width: 1200px) {
    .note-list {
        column-count: 3;
    }
}
@media (max-width: 900px) {
    .note-list {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .note-list {
        column-count: 1;
    }
}
