.note-list {
    grid-column: 2; /* right column in your parent grid */
    background-color: rgb(32, 33, 36);
    padding: 20px;

    column-count: 4; /* number of columns */
    column-gap: 16px; /* space between columns */
}

.placeholder {
    grid-column: 1;
}
.note-index {
    background-color: yellow;
    display: grid;
    grid-template-columns: 5em 3fr;
}

@media (max-width: 1200px) {
    .note-list {
        column-count: 3;
    }
}
@media (max-width: 900px) {
    .note-list {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .note-list {
        column-count: 1;
    }
}
