.note-list {
    grid-column: 2;
    grid-row: 2;
    background-color: white;
    padding: 0.5em;

    column-count: 4;
    column-gap: 16px;
    transition: all 0.3s ease;
}

.placeholder {
    grid-column: 1;
    grid-row: 1 / -1;
}
.note-index {
    background-color: white;
    display: grid;
    grid-template-columns: 5em 3fr;
    grid-template-rows: auto auto;
    border: 2px solid black;
}

h4.pinned-title  {
    margin-left: 3em;
    color: #5f6368;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
}

@media (max-width: 1200px) {
    .note-list {
        column-count: 3;
    }
}
@media (max-width: 900px) {
    .note-list {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .note-list {
        column-count: 1;
    }
}
